
<script type="text/javascript">
var departamentos = <%- JSON.stringify(departamentos) %>;
var asignaturas = <%- JSON.stringify(asignaturas) %>;
var dependencias = <%- JSON.stringify(dependencias) %>;
var planes = <%- JSON.stringify(planes) %>;
var ciclos = <%- JSON.stringify(ciclos) %>;
var grados = <%- JSON.stringify(grados) %>;
var stock  = <%- JSON.stringify(stock)  %>;
</script>

<h1>Búsqueda de grupos</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          Departamento:
          <div class="btn-group dropdown">
            <button id="departamento" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departamento <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="departamento">
              <% departamentos.forEach(function(departamento){ -%>
                <li><a href="#" data="<%= departamento.DeptoId %>"><%= departamento.DeptoNombre %></a></li>
              <% }) -%>
            </ul>
          </div>
          Asignatura:
          <div class="btn-group dropdown">
            <button id="asignatura" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Asignatura <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="asignatura">
              <% asignaturas.forEach(function(asignatura){ -%>
                <li><a href="#" data="<%= asignatura.AsignId %>"><%= asignatura.AsignDesc %></a></li>
              <% }) -%>
            </ul>
          </div>
        </div>

        <div class="row">
          Filtrar por:
          <div class="btn-group" role="group" aria-label="filtros">

            <div class="btn-group dropdown">
              <button id="plan" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plan <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="plan">
                <% planes.forEach(function(plan){ -%>
                  <li><a href="#" data="<%= plan.PlanId %>"><%= plan.PlanNombre %></a></li>
                <% }) -%>
              </ul>
            </div>

            <div class="btn-group dropdown">
              <button id="ciclo" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ciclo <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="ciclo">
                <% ciclos.forEach(function(ciclo){ -%>
                  <li><a href="#" data="<%= ciclo.CicloId %>"><%= ciclo.CicloDesc %></a></li>
                <% }) -%>
              </ul>
            </div>

            <div class="btn-group dropdown">
              <button id="grado" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Grado <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="grado">
                <% grados.forEach(function(grado){ -%>
                  <li><a href="#" data="<%= grado.GradoId %>"><%= grado.GradoDesc %></a></li>
                <% }) -%>
              </ul>
            </div>

            <div class="btn-group dropdown">
              <button id="materia" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Materia <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="materia">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>

    <h2>Grupos encontrados:</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table" id="stock">
            <thead>
              <tr><th>Liceo</th><th>Plan</th><th>Ciclo</th><th>Grado</th><th>Orientación</th><th>Opción</th><th>Materia</th><th>Grupos</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
