
<script type="text/javascript">
var departamentos = <%- JSON.stringify(departamentos) %>;
var asignaturas = <%- JSON.stringify(asignaturas) %>;
</script>

<h1>Elección de horas</h1>

<form action="pizarron/resultado" method="post">
<div class="panel panel-default">
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-sm-4">
            <h2>Búsqueda de grupos</h2>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-2 nombre">
                Departamento:
              </div>
              <div class="col-sm-6">
                <input type="hidden" name="departamento" id="dd-departamento" value="<%= departamento %>">
                <div class="btn-group dropdown">
                  <button id="btn-dd-departamento" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departamento <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="btn-dd-departamento" dd="departamento">
                    <% departamentos.forEach(function(departamento){ -%>
                      <li><a href="#" dd="departamento" data="<%= departamento.DeptoId %>"><%= departamento.DeptoNombre %></a></li>
                    <% }) -%>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 nombre">
                Asignatura:
              </div>
              <div class="col-sm-6">
                <input type="hidden" name="asignatura" id="dd-asignatura" value="<%= asignatura %>">
                <div class="btn-group dropdown">
                  <button id="btn-dd-asignatura" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Asignatura <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="btn-dd-asignatura" dd="asignatura">
                    <% asignaturas.forEach(function(asignatura){ -%>
                      <li><a href="#" dd="asignatura" data="<%= asignatura.AsignId %>"><%= asignatura.AsignDesc %></a></li>
                    <% }) -%>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <input type="submit" value="Buscar">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</form>
