
<script type="text/javascript">
var departamentos = <%- JSON.stringify(departamentos) %>;
var asignaturas = <%- JSON.stringify(asignaturas) %>;
var dependencias = <%- JSON.stringify(dependencias) %>;
var planes = <%- JSON.stringify(planes) %>;
var ciclos = <%- JSON.stringify(ciclos) %>;
var turnos = <%- JSON.stringify(turnos) %>;
var grados = <%- JSON.stringify(grados) %>;
var orientaciones = <%- JSON.stringify(orientaciones) %>;
var opciones = <%- JSON.stringify(opciones) %>;
var materias = <%- JSON.stringify(materias) %>;
var stock  = <%- JSON.stringify(stock)  %>;

dependencias.push({DependId:"",DependDesc:"Todos"});
planes.push({PlanId:"",PlanAbrev:"Todos"});
ciclos.push({CicloId:"",CicloAbrev:"Todos"});
turnos.push({TurnoId:"",TurnoDesc:"Todos"});
grados.push({GradoId:"",GradoAbrev:"Todos"});
orientaciones.push({OrientacionId:"",OrientacionDesc:"Todas"});
opciones.push({OpcionId:"",OpcionDesc:"Todas"});
materias.push({MateriaId:"",MateriaNombre:"Todas"});

dependencias.push({DependId:"null",DependDesc:"N/C"});
planes.push({PlanId:"null",PlanAbrev:"N/C"});
ciclos.push({CicloId:"null",CicloAbrev:"N/C"});
turnos.push({TurnoId:"null",TurnoDesc:"N/C"});
grados.push({GradoId:"null",GradoAbrev:"N/C"});
orientaciones.push({OrientacionId:"null",OrientacionDesc:"N/C"});
opciones.push({OpcionId:"null",OpcionDesc:"N/C"});
materias.push({MateriaId:"null",MateriaNombre:"N/C"});
</script>

<div id="contenido-resultado">

  <div id="background" alt="" class="hidden-xs hidden-sm"></div>
  <a id="credits" class="hidden-xs hidden-sm" href="https://unsplash.com/@pichler_sebastian?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sebastian Pichler"><span style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title></title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px;">Sebastian Pichler</span></a>

  <h1 id='titulo' class="hidden-xs">Elección de horas</h1>

  <div class="panel panel-default" id="panel-buscador">
    <div class="panel-body" id="buscador">
      <h1>Búsqueda de grupos</h1>

      <form action="" method="post" autosubmit="1">
        <div class="row">
          <div class="col-sm-6">
            Departamento:
            <input type="hidden" name="departamento" id="dd-departamento" value="<%= departamento %>">
            <div class="btn-group dropdown">
              <button id="btn-dd-departamento" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Departamento <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-departamento" dd="departamento">
                <% departamentos.forEach(function(departamento){ -%>
                  <li><a href="#" dd="departamento" data="<%= departamento.DeptoId %>"><%= departamento.DeptoNombre %></a></li>
                <% }) -%>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            Asignatura:
            <input type="hidden" name="asignatura" id="dd-asignatura" value="<%= asignatura %>">
            <div class="btn-group dropdown">
              <button id="btn-dd-asignatura" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Asignatura <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-asignatura" dd="asignatura">
                <% asignaturas.forEach(function(asignatura){ -%>
                  <li><a href="#" dd="asignatura" data="<%= asignatura.AsignId %>"><%= asignatura.AsignDesc %></a></li>
                <% }) -%>
              </ul>
            </div>
          </div>
        </div>
      </form>

      <div class="row" id="filtros">
        <div class="col-sm-1" style="padding-top:11px">
          Filtrar por:
        </div>
        <div class="col-sm-11">
          <div class="btn-group" role="group" aria-label="filtros">

            <input type="hidden" name="dependencia" id="dd-dependencia">
            <div class="btn-group dropdown">
              <button id="btn-dd-dependencia" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dependencia <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-id-dependencia" dd="dependencia">
              </ul>
            </div>

            <input type="hidden" name="plan" id="dd-plan">
            <div class="btn-group dropdown">
              <button id="btn-dd-plan" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plan <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-id-plan" dd="plan">
              </ul>
            </div>

            <input type="hidden" name="ciclo" id="dd-ciclo">
            <div class="btn-group dropdown">
              <button id="btn-dd-ciclo" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ciclo <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-ciclo" dd="ciclo">
              </ul>
            </div>

            <input type="hidden" name="grado" id="dd-grado">
            <div class="btn-group dropdown">
              <button id="btn-dd-grado" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Grado <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-grado" dd="grado">
              </ul>
            </div>

            <input type="hidden" name="turno" id="dd-turno">
            <div class="btn-group dropdown">
              <button id="btn-dd-turno" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Turno <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-turno" dd="turno">
              </ul>
            </div>

            <input type="hidden" name="orientacion" id="dd-orientacion">
            <div class="btn-group dropdown">
              <button id="btn-dd-orientacion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Orientación <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-orientacion" dd="orientacion">
              </ul>
            </div>

            <input type="hidden" name="opcion" id="dd-opcion">
            <div class="btn-group dropdown">
              <button id="btn-dd-opcion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opción <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-opcion" dd="opcion">
              </ul>
            </div>

            <input type="hidden" name="materia" id="dd-materia">
            <div class="btn-group dropdown">
              <button id="btn-dd-materia" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Materia <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="btn-dd-materia" dd="materia">
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" id="resultado">
    <div class="panel-body">

      <% if (stock.length > 0) { %>
      <h2>Grupos encontrados:</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table" id="stock">
              <thead>
                <tr><th>Liceo</th><th>Plan</th><th>Ciclo</th><th>Turno</th><th>Grupo</th><th>Materia</th><th>Grupos<br/>Teórico</th><th>Grupos<br/>Práctico</th></tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% } else { %>
      <h2>No hay grupos disponibles</h2>
      <% } %>

    </div>
  </div>
</div>
